@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --main-bg-color: #1db8f0;
    --sub-bg-color: #f2f7fb;
    /* --sub-bg-color: #efefef; */
    --top-height: 70px;
    --main-transition: all 0.3s ease;
    --color-hove-text: red;
    --main-border-radius: 5px;
    --main-font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

a {
    text-decoration: none;
    color: unset;
}

li{
    list-style: none;
}

.row-grid{
    display: grid;
    justify-content: space-between;
}
.main-btn{
    padding: 6px 12px;
    background-color: black;
    color: whitesmoke ;
    border: none;
    cursor: pointer;
}
.delete-class,.not-confirm-order{
    padding: 3px;
    background-color: red;
    color: whitesmoke;
    border-radius: var(--main-border-radius);
}
.edit-class,.confirm-order{
    padding: 3px;
    background-color: green;
    color: whitesmoke;
    border-radius: var(--main-border-radius);
}

/* main admin */
.admin .row-grid{
    grid-template-columns: 20% 80%;
}


/* sidebar */

.admin-sidebar {
    height: 100vh;
    background-color: var(--main-bg-color);
}

.admin-sidebar-top{
    text-align: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
}

.admin-sidebar-top img{
    width: 60px;
}

.admin-sidebar-content > ul > li > a {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-start;
}

.admin-sidebar-content > ul > li > a i:last-child{
    margin-left: auto;
}

.admin-sidebar-content ul li a i{
    margin-right: 6px;
}
.admin-sidebar-content{
    padding: 30px 0 0 30px;
    color: whitesmoke
}

.admin-sidebar-content ul li{
    padding: 6px;
    transition: var(--main-transition);

}
.admin-sidebar-content ul li :hover{
    background-color: black;
}

.sub-menu{
    height: 0;
    overflow: hidden;
    transition: var(--main-transition);
}

/* .sub-menu.active{
    height: 60px;
} */

.sub-menu li:hover a {
    color: var(--color-hove-text)
}

.flex-box{
    display: flex;

}

/* content  */
.admin-content{
    background-color: var(--sub-bg-color);
}

.admin-content-top{
    display: flex;
    justify-content: space-between;
    height: var(--top-height);
    border-bottom: 1px solid gray;
    padding: 0 12px;
}

.admin-content-top .flex-box{
    height: 60px;
    align-items: center;
}

.admin-content-top i {
    margin-right: 12px;
    cursor: pointer;
}

.admin-content-top-right ul li:last-child p{
    cursor: pointer;
}

.admin-content-top-right ul li:first-child i{
    position: relative;
}

.admin-content-top-right ul li:first-child i::after{
    position: absolute;
    content: attr(number);
    height: 16px;
    width: 16px;
    display: flex;
    background-color: blue;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.admin-content-top-right ul li:nth-child(2) i{
    position: relative;
}

.admin-content-top-right ul li:nth-child(2) i::after{
    position: absolute;
    content: attr(number);
    height: 16px;
    width: 16px;
    display: flex;
    background-color: red;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes notification {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.admin-content-main-title h1 {
    padding: 12px;
    font-weight: 500;
    position: relative;
}

.admin-content-main-title h1::before {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    width: 100px;
    background-color: var(--main-bg-color);
    bottom: 6px;
    left: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* product add */
.admin-content-main-content{
    background-color: white;
}
.admin-content-main-content-product-add {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 12px;
    column-gap: 20px ;
}
.admin-content-main-content-left input{
    height: 30px;
    border: none;
    background-color: var(--sub-bg-color);
    margin-bottom: 20px;
    outline: none;
    border-radius: var(--main-border-radius);
    padding-left: 6px;
}
.admin-content-main-content-two-input{
    display: flex;
    justify-content: space-between;
}
.admin-content-main-content-two-input input{
    width: 45%;
}
/* .admin-content-main-content-left textarea{
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 6px;
    border: none;
    background-color: whitesmoke;
} */
.admin-content-main-content-right-image input{
    display: none;
}
.admin-content-main-content-right-images input{
    display: none;
}
.admin-content-main-content-right label{
    padding: 4px 8px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
}
.image-show,.images-show{
    min-height: 150px;
}

/* ckeditor */
.ck.ck-editor{
    margin-bottom: 30px;

}
.admin-content-main-content-left{
    max-height: 700px;
    overflow: scroll;
}

/* product list */
.admin-content-main-content-product-list table{
    width: 100%;
    padding: 12px 0 ;
    border-collapse: collapse;
}
.admin-content-main-content-product-list table,th,td{
    text-align: center;
}
.admin-content-main-content-product-list table th{
    background-color: black;
    color: whitesmoke;
    padding: 6px 0;
}
/* order-list */
.admin-content-main-content-order-list table{
    width: 100%;
    padding: 12px 0 ;
    border-collapse: collapse;
}
.admin-content-main-content-order-list table a{
    display: inline-block;
}
.admin-content-main-content-order-list table,th,td{
    text-align: center;
}
.admin-content-main-content-order-list table th{
    background-color: black;
    color: whitesmoke;
    padding: 6px 0;
}
.admin-content-main-content-order-list table td{
    padding: 6px 0;
}
/*Bo sung backend admin*/
#input-file-img{
    padding: 12px 0;
    text-align: center;
}
#input-file-imgs{
    padding: 12px 0;
    text-align: center;
}
#input-file-img img{
    width: 130px;

}
#input-file-imgs img{
    width: 60px;
    margin-right: 10px;
}
